{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "importOrder": [
    "^(react|next|next/(.*))$",
    "<THIRD_PARTY_MODULES>",
    "^@/api/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
